@{ ViewData["Title"] = "Welcome"; }


<style>

body{
 background: url("https://images.squarespace-cdn.com/content/v1/5af01293697a98afe3594f36/1526276982809-DK1PWUOUQB9O48T1VBRE/ke17ZwdGBToddI8pDm48kFUXhVpDNJypizh6DflS9gcUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dtiy9zaKxRkF1_T_ccQc48XJqMeC1FkTGFiQ8sR-FhpcG6v6ULRah83RgHXAWD5lbQ/finance+background.jpg?format=2500w"); 
 background-position: top left; 
 background-size: cover; 
 height: 100%; 
 width:100%;
}

h1{
color:white;
}

</style>


<body>

    <div class="text-center">
        <h1 class="align-middle">Welcome to TSP Bank!</h1>
    </div>

</body>



