@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy policy of TSP BANK states :</p><br />
<p> 1. No client is allowed to change data within the site.</p><br />
<p> 2. Only cashiers can make transactions.</p><br />
<p> 3. Only Bankers can create new users and look over data.</p><br />
