@model Bank.Models.BankAccount

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create a bank account</h1>
<hr />
    @if (ViewData["error"] != null)
    {
        <div class="alert-danger">
            <p name="empID" class="control-label">@ViewData["error"]</p>
        </div>
    }
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBankAcc">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BALANCE" class="control-label"></label>
                <input asp-for="BALANCE" class="form-control" />
                <span asp-validation-for="BALANCE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="CurrencyId" class="control-label">Choose type of currency</label>
                <select name="CurrencyId" class="form-control" asp-items="ViewBag.CurrencyId"></select>
            </div>
            @if (ViewData["ClientIdOne"] != null)
            {
                <div class="form-group">
                    <label asp-for="ClientId" class="control-label">Client ID</label>
                    <input asp-for="ClientId" type="text" readonly class="form-control" value="@ViewData["ClientIdOne"]">
                </div>
            }
            else
            {
                <div class="form-group">
                    <label name="ClientId" class="control-label">Choose a client</label>
                    <select name="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                </div>
            }
            <div class="form-group">
                <label name="AccTypeId" class="control-label">Choose the type of account</label>
                <select name="AccTypeId" class="form-control" asp-items="ViewBag.AccTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to actions</a>
</div>