@model IEnumerable<Bank.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>