@model Bank.Models.Transaction

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Transaction</h4>
    @if (ViewData["error"] != null)
    {
        <div class="alert-danger">
            <p name="empID" class="control-label">@ViewData["error"]</p>
        </div>
    }
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TransCatId" class="control-label">Transaction Category</label>
                <select asp-for="TransCatId" class="form-control" asp-items="ViewBag.TransCatId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SUM" class="control-label">Sum of transaction</label>
                <input asp-for="SUM" class="form-control" />
                <span asp-validation-for="SUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Employee ID</label>
                <input asp-for="EmployeeId" type="text" readonly class="form-control" value="@ViewData["EmployeeId"]">
            </div>
            <div class="form-group">
                <label asp-for="BankAccId" class="control-label">Bank account number</label>
                <select asp-for="BankAccId" class="form-control" asp-items="ViewBag.BankAccId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
