
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@User.Identity.Name's actions</h1>

<form asp-action="ViewAll" method="get">
    <button class="btn-danger">View all transactions</button>
</form>

<form asp-action="Create" method="get">
    <button class="btn-danger">Create a transaction</button>
</form>
